<div class="row">
    {% if items %}
        {% for item in items %}
        <div class="column">
            {% include "card.html" %}        
        </div>
        {% endfor %}
    {% endif %}
</div>
