<!-- {% if filters %}
<div class="filter">
{% for filter in filters %}
    {% if filter.type == 'multi-select' %}
    <select name="{{ filter.name }}" id="id-{{ filter.name }}" multiple>
        <option value="null">Alle</option>
    </select>
    {% endif %}
{% endfor %}
</div>
{% endif %} -->

<div class="gallery" data-filterable data-items="gallery-img">
<section class="gallery-links">
    {% for item in items | sort(attribute='order') %}
    <a href="{{ item.url }}" class="gallery-img" style="flex-basis:{{ flex_basis or '22%' }}">
        {% if item.img_url %}
        <img src="{{ item.img_url }}" alt="Image {{ item.name }}">
        {% else %}
        <div class="dummy-box">{{ item.name }}</div>
        {% endif %}
        {% if item.tags %}
        <div class="tags collapsed">
            {% for tag in item.tags %}    
            <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </a>
    {% endfor %}
</section>
</div>